<div id="homepage" dir="{{direction}}">


    <div class="header" aloha text="title">
    Welcome to my awesome homepage
</div>


<div class="main">

    <div class="content">
        <button ng-click="toggleDirection()">direction</button>
        <img class=" left profile-img" src="/styles/images/profile.jpg" />

        <div style="background-color:green" ng-bind-html-unsafe="aboutMe">
        </div>

        <div class="about" aloha text="aboutMe">
            I’m a first year graduate journalism student at Emerson College. The decision to move from Houston to Boston to
            attend Emerson wasn’t easy, but my love for discovering and developing news stories gave me the courage to make
            the leap. Studying journalism in one of the top markets in the nation will prepare me for a long successful
            career.
            Reel
            www.youtube.com/watch?v=l4JJ930YvYo
        </div>
    </div>
</div>

<div class="footer">
    <ul>
        <li><a href="#contact"><img src="/styles/images/contact_me.png"/></a></li>
        <li>    <a href="#follow"><img src="/styles/images/follow_me.png"/></a></li>
        <li><a href="#about_me"><img src="/styles/images/about_me.png"/></a></li>
        <li><a href="#about_me"><img src="/styles/images/my_clinic.png"/></a></li>
        </li>
    </ul>
</div>


</div>
